In [48]:
import pandas as pd
import pyspark.pandas as ps
import numpy as np
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pandas').getOrCreate()

s = ps.Series([1,2,3,np.nan])
s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [49]:
df = ps.DataFrame({
    'a':[1,2,3,4,5],
    'b': ['a','b','c','d','e'],
    'c':[1.0,2.0,3.0,4.0,5.0]
}, index=[10,20,30,40,50])

In [50]:
df

    a  b    c
10  1  a  1.0
20  2  b  2.0
30  3  c  3.0
40  4  d  4.0
50  5  e  5.0

In [51]:
x = pd.date_range('20240716', periods=4)
x

DatetimeIndex(['2024-07-16', '2024-07-17', '2024-07-18', '2024-07-19'], dtype='datetime64[ns]', freq='D')

In [52]:
pdf = pd.DataFrame(np.random.randn(4,4), index = x, columns=['a', 'b', 'c', 'd'])
pdf

                   a         b         c         d
2024-07-16 -1.655121 -1.849213  1.128065 -0.097573
2024-07-17 -0.333202  1.269744  1.377970 -0.632240
2024-07-18  0.749319  0.317160  0.391553  1.630556
2024-07-19 -0.589050  0.920882 -0.543064 -1.038691

In [53]:
psdf = ps.from_pandas(pdf)
psdf

C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\pandas\types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):
C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\pandas\types.py:563: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not is_datetime64tz_dtype(pser.dtype):
C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\pandas\types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):

                   a         b         c         d
2024-07-16 -1.655121 -1.849213  1.128065 -0.097573
2024-07-17 -0.333202  1.269744  1.377970 -0.632240
2024-07-18  0.749319  0.317160  0.391553  1.630556
2024-07-19 -0.589050  0.920882 -0.543064 -1.038691

In [54]:
sdf = spark.createDataFrame(pdf)
sdf.show()

psdf1 = sdf.to_pandas_on_spark()

C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\pandas\conversion.py:485: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if should_localize and is_datetime64tz_dtype(s.dtype) and s.dt.tz is not None:

+-------------------+-------------------+-------------------+-------------------+
|                  a|                  b|                  c|                  d|
+-------------------+-------------------+-------------------+-------------------+
|-1.6551212605950936|-1.8492131419153475| 1.1280653191276524|-0.0975731581604691|
|-0.3332020212647267| 1.2697436514016005|  1.377969606361504|-0.6322399840400017|
| 0.7493187086957311|0.31716013387914255| 0.3915526068576531| 1.6305564927702265|
|-0.5890496145956774| 0.9208818857714065|-0.5430635833018985|-1.0386914944271053|
+-------------------+-------------------+-------------------+-------------------+

C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\dataframe.py:5723: FutureWarning: DataFrame.to_pandas_on_spark is deprecated. Use DataFrame.pandas_api instead.
  warnings.warn(

In [55]:
psdf1

          a         b         c         d
0 -1.655121 -1.849213  1.128065 -0.097573
1 -0.333202  1.269744  1.377970 -0.632240
2  0.749319  0.317160  0.391553  1.630556
3 -0.589050  0.920882 -0.543064 -1.038691

In [56]:
type(psdf1)

pyspark.pandas.frame.DataFrame

In [57]:
psdf1.to_numpy()

C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\pandas\utils.py:1016: PandasAPIOnSparkAdviceWarning: `to_numpy` loads all data into the driver's memory. It should only be used if the resulting NumPy ndarray is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

array([[-1.65512126, -1.84921314,  1.12806532, -0.09757316],
       [-0.33320202,  1.26974365,  1.37796961, -0.63223998],
       [ 0.74931871,  0.31716013,  0.39155261,  1.63055649],
       [-0.58904961,  0.92088189, -0.54306358, -1.03869149]])

In [58]:
psdf1.head(2)

          a         b         c         d
0 -1.655121 -1.849213  1.128065 -0.097573
1 -0.333202  1.269744  1.377970 -0.632240

In [59]:
pdf2 = pdf.reindex(index=x[0:3], columns=list(pdf.columns)+['E'])
pdf2.loc[x[0:1], 'E'] = 1
pdf2

                   a         b         c         d    E
2024-07-16 -1.655121 -1.849213  1.128065 -0.097573  1.0
2024-07-17 -0.333202  1.269744  1.377970 -0.632240  NaN
2024-07-18  0.749319  0.317160  0.391553  1.630556  NaN

In [60]:
psdf2 = ps.from_pandas(pdf2)
psdf2

C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\pandas\types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):
C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\pandas\types.py:563: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not is_datetime64tz_dtype(pser.dtype):
C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\pandas\types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):

                   a         b         c         d    E
2024-07-16 -1.655121 -1.849213  1.128065 -0.097573  1.0
2024-07-17 -0.333202  1.269744  1.377970 -0.632240  NaN
2024-07-18  0.749319  0.317160  0.391553  1.630556  NaN

In [61]:
psdf2.dropna(how='any')

C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\pandas\types.py:563: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not is_datetime64tz_dtype(pser.dtype):
C:\Users\vrjav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\pandas\types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):

                   a         b         c         d    E
2024-07-16 -1.655121 -1.849213  1.128065 -0.097573  1.0

In [62]:
import pandas as pd
import pyspark.pandas as ps
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Test').getOrCreate()
df = ps.DataFrame({
    'a':[1,2,3],
    'b':['a','b','c'],
    'c':[1.0,2.0,3.0]
})

In [63]:
type(df)
df.describe()

         a    c
count  3.0  3.0
mean   2.0  2.0
std    1.0  1.0
min    1.0  1.0
25%    1.0  1.0
50%    2.0  2.0
75%    3.0  3.0
max    3.0  3.0

In [65]:
from pyspark.sql.functions import expr
new_df = df.to_spark()
new_df.createOrReplaceTempView('TableA')
spark.sql('select * from TableA where a==1').show()

+---+---+---+
|  a|  b|  c|
+---+---+---+
|  1|  a|1.0|
+---+---+---+

In [71]:
new_df.select('a', 'b', 'c').where('a=1').show()

+---+---+---+
|  a|  b|  c|
+---+---+---+
|  1|  a|1.0|
+---+---+---+

In [76]:
df.reindex(columns=list(new_df.columns) + ['E'], index=[0,1,2])

   a  b    c   E
0  1  a  1.0 NaN
1  2  b  2.0 NaN
2  3  c  3.0 NaN

In [80]:
df.loc[0:1, 'E'] =1
df

   a  b    c    E
0  1  a  1.0  1.0
1  2  b  2.0  1.0
2  3  c  3.0  NaN

In [82]:
df.dropna(how ='any')

   a  b    c  E
0  1  a  1.0  1
1  2  b  2.0  1

In [83]:
df.fillna(value=5)

   a  b    c  E
0  1  a  1.0  1
1  2  b  2.0  1
2  3  c  3.0  5

In [86]:
import warnings
warnings.filterwarnings("ignore")

spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", True)
%timeit ps.range(300000).to_pandas()

231 ms ± 21.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [87]:
import warnings
warnings.filterwarnings("ignore")

spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", False)
%timeit ps.range(300000).to_pandas()

640 ms ± 49.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)