In [44]:
from pyspark.sql import SparkSession
ss = SparkSession.builder.appName("sql learning").getOrCreate()

In [45]:
# from pyspark.sql.types import StructType, StructField, StringType, DoubleType

# schema = StructType([
#     StructField("age", DoubleType(), True),
#     StructField("name", StringType(), True)
# ])
df = ss.read.json("learning1.ndjson")
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Data Frame Operations

In [46]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [47]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [48]:
df.filter(df.age>20).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [49]:
df.select(df.name, df.age+1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     NULL|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [50]:
df.groupBy('age').count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|NULL|    1|
|  30|    1|
+----+-----+

In [51]:
df.createOrReplaceTempView("people")
sqldf = ss.sql("select * from people")
sqldf.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Global Temp View

In [52]:
df.createOrReplaceGlobalTempView("people1")
sqldf1 = ss.sql("select * from global_temp.people1")
sqldf1.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [53]:
ss.newSession().sql('select * from global_temp.people1').show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+